*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: chartreuse;
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10,1fr);
    gap:5px;
}
.box{
    border:1px solid black;
    background-color: red;
}
#box1{
    
    grid-column-start:1;
    grid-column-end:11;

}
#box2{
    width: 75px;
    grid-row-start: 2;
    grid-row-end: 10;
   
}
#box3{
    grid-row-start: 2;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 11;
}
#box4{
    
    grid-column-start:1;
    grid-column-end:11;

}