*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container{
    height: 700px;
    width:700px;
    background-color: aquamarine;
    border: 1px solid black;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 400px 100px;

    grid-template-areas: 
    "hd hd"
    "sidebar main"
    "footer footer";
}

.box{
    /* height:80px;
    width:70px; */
    background-color: orange;
    border:1px solid green;
}

#header{
    grid-area: hd;

}
#side{
    grid-area: sidebar;
}

#content{
    grid-area: main;
}
#footer{
    grid-area:footer;
}
@media(max-width:1000px) and (min-width:400px){
/* @media(max-width:400px){ */
    .container{
        height:700px;
        background-color: blue;
        border: 1px solid black;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 100px 400px 100px;
    
        grid-template-areas: 
        "hd "
        "sidebar"
        "main"
        "footer";
    }
    .box{
        background-color: yellow;
        border: 1px solid red;
    }
    #header{
        grid-area:hd;
    }

    #side{
        grid-area:sidebar;
    }
    #content{
        grid-area: main;
    }
    #footer{
        grid-area:footer;
    }
}