*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width: 30vw;
    height: 20vh ;
    background-color: aqua;
    transform: translate(0,10vh);
    border: 1px solid black;
}

.box{
    height:70%;
    width:20%;
    border:1px solid green;
    background-color: red;
    transition: all 2s ease 1s
}

.box:hover{
    background-color: blue;
    transform: scale(2) translate(50vw) rotate(360deg);
    box-shadow: yellow 3px 3px 2px 5px;
}