*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 20vh;
    width: 40vw ;
    background-color: aqua;
    border: 1px solid black;
}

.box{
    background-color: red;
    height:15vh;
    width:7vw;
     animation-name: govind;
     animation-duration: 2s;
     animation-delay: 2s;
     animation-timing-function: ease;
     animation-iteration-count: infinite;
     animation-direction: normal;
}

/* @keyframes govind{
    from{
        width:7vw;
        height:10vh;
        background-image: linear-gradient(to right top, aqua, red);
    }
    to{
        width:80vw;
        height:80vh;
        background-image: linear-gradient(to right top, aqua, red);
    }
} */

/* We can use % in place of from & to */

@keyframes govind{
    0%{
        width:7vw;
        height:10vh;
        background-image: linear-gradient(to right top, aqua, red);
    }
    65%{
        width:32vw;
        height:32vh;
        background-image: linear-gradient(to right top, orange,white, green);
    }
    85%{
        width:62vw;
        height:62vh;
        background-image: linear-gradient(to right top, orange,white, green);
    }
    100%{
        width:100vw;
        height:100vh;
        background-image: linear-gradient(to right top, aqua, red);
    }
}